
<table class="table">
  <thead>
    <tr>
      <th scope="col">  </th>
      <th scope="col"> Worked Hours </th>
      <th scope="col"> Billed Hours </th>
      <th scope="col"> Required Hours </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Day</th>
      <td> {{ view.all_hrs }} </td>
      <td>{{ billedhrs_day }}</td>
      <td>"Coming Soon"</td>
    </tr>
    <tr>
      <th scope="row">Week</th>
      <td> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Month</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
